<div class="container">
<h2><%= @space.name %></h2>
<%# TODO: Add 'has_photo' to space model %>
<div class="d-flex">
<%= cl_image_tag @space.photo.key, height: 300, width: 400, crop: :fill %>
  <%# <img src="https://www.cnet.com/a/img/LLg84fdggU-EGFI2bUQ7Sd0IpxE=/940x528/2017/10/20/e8f232cc-25eb-4fa8-a11f-e4e1941fed8d/vr-zone-shinjuku-007.jpg" alt="VR Zone"> %>
  <div class="m-4">
    <h2>Book your next session now</h2>
    <%= simple_form_for [ @space, @booking ] do |f| %>

      <%= f.input :booking_date %>
      <%= f.input :booking_start_time %>
      <%= f.input :booking_end_time %>
      <%= f.submit "Send a Booking request", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<p><strong><%= @space.location %></strong></p>
<%# TODO: Add 'overview' to space model %>


<h2>Description</h2>
<h3>Supported VR headset: <%= @space.vr_headset %></h3>
<h3>Price per hour: <%= @space.hourly_rate %></h3>
<hr>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<h2>Games supported</h2>
<hr>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<h2>Latest reviews</h2>

<% @space.bookings.each do |booking| %>

  <% booking.reviews.each do |review| %>
    <p>
      <% stars = review.rating %>
      <% stars.times do  %>
      <i class="fa-solid fa-star"></i>
      <% end %>
    </p>
    <p><%= review.content %></p>
    <p>written by <%= review.space.user.email %></p>
    <% end %>

<% end %>
</div>
