<h1>Bookings</h1>
<ul>
<% @bookings.each do |booking| %>
  <p><%= booking.space.name %></p>
  <p><%= booking.space.location %></p>
  <p><%= booking.booking_date %></p>
  <%= simple_form_for @review do |f| %>
        <%= f.input :booking_id, as: :hidden, :input_html => { value: booking.id }%>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit %>
  <% booking.reviews.each do |review| %>
    <p><%= review.content %></p>
    <p><%= review.is_owner ? "Owner" : "Renter"%></p>
    <% end %>
  <% end %>
<% end %>
</ul>
