<div class="d-flex" data-controller="pagination">

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Dashboard
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" data-action="click->pagination#bookings">Bookings</a></li>
      <li class="list-group-item" data-action="click->pagination#listings">Listings</a></li>
    </ul>
  </div>

  <div class="container" >

  <div data-pagination-target="bookings" >
  <h1>My bookings</h1>
  <hr>
  <h2>Pending bookings</h2>
  <h4>Bookings received</h4>
  <% if !(@bookings_incoming.find { |booking| booking.status == 'Pending' }) %>
  <p>You don't have any pending bookings</p>
  <% end %>
  <% @bookings_incoming.each do |booking| %>
      <% if booking.status == 'Pending' %>
      <div class="card m-4" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= link_to booking.space.name, space_path(booking.space) %></li>
          <li class="list-group-item">Location: <%= booking.space.location %></li>
          <li class="list-group-item">Date: <%= booking.booking_date %></li>
        </ul>
        <div class="card-footer">
          <% if booking.status == 'Decline' %>
            Status: Declined
          <% elsif booking.status == 'Accept' %>
            Status: Accepted
          <% end %>
        </div>
        <% if booking.status == 'Pending' %>
          <%= simple_form_for booking do |f| %>
          <%= f.input :status, collection: ['Accept', 'Decline'] %>
          <%= f.submit "Send response", class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
  <% end %>
  <% end %>
  <h4>Bookings sent</h4>
  <% if !(@bookings_outgoing.find { |booking| booking.status == 'Pending' }) %>
  <p>You don't have any pending bookings</p>
  <% end %>
  <% @bookings_outgoing.each do |booking| %>
    <% if booking.status == 'Pending' %>
      <div class="card m-4" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= link_to booking.space.name, space_path(booking.space) %></li>
          <li class="list-group-item">Location: <%= booking.space.location %></li>
          <li class="list-group-item">Date: <%= booking.booking_date %></li>
        </ul>
        <div class="card-footer">
          Status: <%= booking.status %>
        </div>
      </div>
    <% end %>

  <% end %>



  <h2 class="mt-5">Accepted bookings</h2>
  <h4>Bookings received</h4>
  <% if !(@bookings_incoming.find { |booking| booking.status == 'Accept' }) %>
  <p>You don't have any accepted bookings</p>
  <% end %>
  <% @bookings_incoming.each do |booking| %>
    <% if booking.status == 'Accept' %>
      <div class="card m-4" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= link_to booking.space.name, space_path(booking.space) %></li>
          <li class="list-group-item">Location: <%= booking.space.location %></li>
          <li class="list-group-item">Date: <%= booking.booking_date %></li>
        </ul>
        <div class="card-footer">
          <% if booking.status == 'Decline' %>
            Status: Declined
          <% elsif booking.status == 'Accept' %>
            Status: Accepted
          <% end %>
        </div>
        <% if booking.status == 'Pending' %>
          <%= simple_form_for booking do |f| %>
          <%= f.input :status, collection: ['Accept', 'Decline'] %>
          <%= f.submit "Send response", class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
  <% end %>

  <% end %>

  <h4>Bookings sent</h4>
  <% if !(@bookings_outgoing.find { |booking| booking.status == 'Accept' }) %>
  <p>You don't have any accepted bookings</p>
  <% end %>
  <% @bookings_outgoing.each do |booking| %>
    <% if booking.status == 'Accept' %>
    <div>
      <div class="card m-4" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= link_to booking.space.name, space_path(booking.space) %></li>
          <li class="list-group-item">Location: <%= booking.space.location %></li>
          <li class="list-group-item">Date: <%= booking.booking_date %></li>
        </ul>
        <div class="card-footer">
          <% if booking.status == 'Decline' %>
            Status: Declined
          <% elsif booking.status == 'Accept' %>
            Status: Accepted
          <% end %>
        </div>
        <% if booking.status == 'Pending' %>
          <%= simple_form_for booking do |f| %>
          <%= f.input :status, collection: ['Accept', 'Decline'] %>
          <%= f.submit "Send response", class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
        <p class="fs-5">Leave a review</p>
        <%= simple_form_for @review do |f| %>
        <%= f.input :booking_id, as: :hidden, :input_html => { value: booking.id }%>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit "Submit", class: "btn btn-primary"%>
      <% end %>
      </div>
    <% end %>

  <% end %>

  <h2 class="mt-5">Declined bookings</h2>
  <h4>Bookings received</h4>
  <% if !(@bookings_incoming.find { |booking| booking.status == 'Decline' }) %>
  <p>You don't have any Declined bookings</p>
  <% end %>
  <% @bookings_incoming.each do |booking| %>
    <% if booking.status == 'Decline' %>
      <div class="card m-4" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= link_to booking.space.name, space_path(booking.space) %></li>
          <li class="list-group-item">Location: <%= booking.space.location %></li>
          <li class="list-group-item">Date: <%= booking.booking_date %></li>
        </ul>
        <div class="card-footer">
          <% if booking.status == 'Decline' %>
            Status: Declined
          <% elsif booking.status == 'Accept' %>
            Status: Accepted
          <% end %>
        </div>
        <% if booking.status == 'Pending' %>
          <%= simple_form_for booking do |f| %>
          <%= f.input :status, collection: ['Accept', 'Decline'] %>
          <%= f.submit "Send response", class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
  <% end %>
  <% end %>


  <h4>Bookings sent</h4>
  <% if !(@bookings_outgoing.find { |booking| booking.status == 'Decline' }) %>
  <p>You don't have any Declined bookings</p>
  <% end %>
  <% @bookings_outgoing.each do |booking| %>
    <% if booking.status == 'Decline' %>
      <div class="card m-4" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= link_to booking.space.name, space_path(booking.space) %></li>
          <li class="list-group-item">Location: <%= booking.space.location %></li>
          <li class="list-group-item">Date: <%= booking.booking_date %></li>
        </ul>
        <div class="card-footer">
          <% if booking.status == 'Decline' %>
            Status: Declined
          <% elsif booking.status == 'Accept' %>
            Status: Accepted
          <% end %>
        </div>
        <% if booking.status == 'Pending' %>
          <%= simple_form_for booking do |f| %>
          <%= f.input :status, collection: ['Accept', 'Decline'] %>
          <%= f.submit "Send response", class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
  <% end %>
  <% end %>

  </div>

  <div class="d-none" data-pagination-target="listings">
    <h1 class="mt-4">My listings</h1>
    <hr>
    <% if current_user.spaces.empty? %>
    <p>You don't have any spaces</p>
    <% end %>
    <%= link_to 'Add a Space', new_space_path, :class => "btn btn-primary m-4" %>
    <div class="row">

          <% @spaces.each do |space| %>
          <%= render 'shared/space_card2', space: space %>
          <% end %>

    </div>
  </div>

  </div>
</div>
