<div class="col-6">
  <div class="card-trip m-4">
  <% if space.photo.blank? %>
  <img src="https://www.cnet.com/a/img/LLg84fdggU-EGFI2bUQ7Sd0IpxE=/940x528/2017/10/20/e8f232cc-25eb-4fa8-a11f-e4e1941fed8d/vr-zone-shinjuku-007.jpg" alt="VR Zone">
  <% else %>
  <%= cl_image_tag space.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= link_to space.name, space_path(space) %></h2>
        <p>Location: <%= space.location %></p>
        <p>VR tech: <%= space.vr_headset %></p>
      </div>
      <h2 class="card-trip-pricing">AED <%= space.hourly_rate %>/hr</h2>
      <p>rating:
      <% sum = 0 %>
      <% count = 0 %>
      <% space.reviews.each do |review| %>
        <% sum += review.rating %>
        <% count += 1 %>
      <% end %>
      <% if count == 0 || sum == %>
        <%= 0 %>
      <% else %>
        <% average = sum/count %>
        <% average.round().times do  %>
        <i class="fa-solid fa-star"></i>
      <% end %>
        (<%= count%>)
      <% end %>
      </p>
      <%= link_to "Book now", space_path(space), class: "btn btn-primary" %>
    </div>
  </div>
</div>
